@import url('https://fonts.googleapis.com/css2?family=Roboto|Fjalla+One&display=swap rel="stylesheet">display:100,200,300,400,500,600,700|Roboto: 100,200,300,400,500,600,700,');
body {
	font-family: 'Fjalla One', 'Roboto', sans-serif;
}

container-button-index-learn-more {
	text-align: center;
	margin-bottom: 15px;
}

.navbar-title {
	color: blue;
}


/* index.html */

.jumbotron-Arnold-container h1 {
	color: cornflowerblue;
}

.jumbotron-Arnold-container {
	width: 100%;
	padding: 0;
}

.heading-text-inside-index-file h3 {
	color: crimson;
}

.jumbotron h1 {
	font-family: 'Fjalla One', sans-serif;
}

.jumbotron p {
	font-family: 'Roboto', sans-serif;
	font-size: larger;
}

.learn {
	background-color: aliceblue;
	/* background: url("../images/sereno.jpg") no-repeat; */
	background-size: cover;
}

.learn-more-headings {
	color: dodgerblue;
	font-size: 30px;
}

.h1-learn-more-title {
	font-size: 40px;
	color: dodgerblue;
	padding-left: 25px;
}

.heading-table {
	color: greenyellow;
}


/* rules.html */


/* headings in rules.html and pricing.html */

.card-title {
	color: blue;
}


/* meet.html */


/* two images, one of them, the smaller is overlapping and it is hidden on small devices */

.palestra-jpg-top-img-in-rule {
	position: relative;
}

.blonde-jpg-img-top-in-rule-overlapping {
	position: absolute;
	top: 50px;
	left: 50px;
	right: 50px;
	bottom: 50px;
}


/* rules.html */

.rules-title {
	color: red;
	position: absolute;
	top: 5px;
	left: 100px;
	margin: 3px;
	padding: 2px;
}


/* All footers */

.footer-index {
	width: 100%;
	padding-right: 15px;
	padding-left: 20px;
	font-size: 12px;
}

.container-footer {
	text-align: center;
	margin-left: 3px;
	padding-left: 2px;
}


/* meet.html */

.meet-text {
	font-size: 20px;
}

.images-meet.html {
	height: 200px;
}

@media screen and (min-width: 300px) {
	.meet-text {
		font-size: 20px;
	}
	.container-meet-with-all-text-inside {
		width: 100%;
		padding-right: 24px;
		padding-left: 24px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 15px;
	}
}

@media screen and (min-width: 576px) {
	/* Images in meet.html modified for better visualization on larger devices  */
	.rules-title {
		color: red;
		position: absolute;
		top: 70px;
		left: 500px;
		margin: 7px;
		padding: 5px;
		font-size: 45px;
	}
	.container-learn-more h2 {
		/* color: #52d0e4; */
		font-size: 23px;
	}
}

@media screen and (min-width: 768px) {
	.martin-image {
		position: relative;
		bottom: 1px;
	}
	.laura-image {
		position: relative;
		top: 34px;
	}
}

@media screen and (min-width: 924px) {
	/* images in the meet.html adjusted for better user visualization */
	.table {
		width: 100%;
		border-collapse: collapse;
	}
	.carousel-container-images {
		width: 100%;
		height: 100%;
	}
	.container-meet-with-all-text-inside {
		width: 100%;
		margin: 10px 25px;
	}
	.laura-adjustment-heading-and-text {
		position: relative;
		top: 23px;
	}
	/* in the index-html */
	.jumbotron p {
		font-family: 'Roboto', sans-serif;
		font-size: 30px;
	}
	/* in the index.html */
	div .text-on-gym-image {
		color: red;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 40px;
	}
	/* learn-more.html */
	.container-learn-more ul p {
		font-size: 15px;
	}
	.table-success {
		border-color: #8fd19e;
	}
}

@media screen and (min-width: 1024px) {
	.laura-image {
		position: relative;
		top: 36px;
	}
	.martin-image {
		position: relative;
		top: 30px;
	}
}

@media screen and (min-width: 1200px) {

}
